@font-face {
  font-family: "iconfont"; /* Project id 2920194 */
  src: url('../fonts/iconfont.eot?t=1636382675966'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1636382675966#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/iconfont.woff?t=1636382675966') format('woff'),
       url('../fonts/iconfont.woff2?t=1636382675966') format('woff2'),
       url('../fonts/iconfont.ttf?t=1636382675966') format('truetype'),
       url('../fonts/iconfont.svg?t=1636382675966#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-cnblog:before {
  content: "\e623";
}

.icon-wechat:before {
  content: "\e660";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-youtube:before {
  content: "\e765";
}

.icon-email:before {
  content: "\e684";
}

.icon-leetcode:before {
  content: "\ebf2";
}

.icon-twitter:before {
  content: "\ea90";
}

.icon-yuque:before {
  content: "\eab5";
}

.icon-qqmusic:before {
  content: "\e658";
}

.icon-netease:before {
  content: "\e650";
}

.icon-steam:before {
  content: "\e686";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-other:before {
  content: "\e62b";
}

.icon-gallery:before {
  content: "\e7be";
}

.icon-heart:before {
  content: "\e85c";
}

.icon-i:before {
  content: "\e680";
}

.icon-index:before {
  content: "\e612";
}

.icon-blog:before {
  content: "\e6fd";
}

.icon-github:before {
  content: "\e741";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-bilibili:before {
  content: "\e600";
}

.icon-game:before {
  content: "\e609";
}

